:root {
    --color-dark:       #000000;
    --color-darkgray:   #363946;
    --color-darklight:  #696773;
    --color-bg:         #F8F8E8;
    --color-bg-shade:   #F2F2DC;
    --color-bg-darkshade:   #cbcbb6;
    --color-fg:             #00439B;
    --color-fg-dark:        #00306e;

    --color-red:        #9b0024;
    --color-red-dark:   #690019;
    
    --color-scroll-bg:      var(--color-darkgray);
    --color-scroll-thumb:   #828189;
}

/* Scrollbar styling for all browsers. */
html {
    scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-bg);
    scrollbar-width:auto;
}
::-webkit-scrollbar {
    background-color: var(--color-scroll-bg);
    color:var(--color-scroll-thumb);
}

body {
    background-color:var(--color-bg);
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.my-name {
    font-family:"Roboto",sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}
.my-name:hover {
    color:var(--color-fg);
}

.dont-scroll {
    overflow:hidden;
}

.cross-icon {
    width:1.25rem;
}