:root {
    --color-dark: #000000;
    --color-darkgray: #363946;
    --color-darklight: #696773;
    --color-bg: #F8F8E8;
    --color-bg-shade: #F2F2DC;
    --color-fg: #00439B;
}

body {
    background-color:var(--color-bg);
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.my-name {
    font-family:"Roboto",sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}