/*
    
*/

#social-section-nav {
    display:flex;
    flex-direction: column;
    margin-left: 1rem;
    gap:1rem;
}

.social-section-nav-anchor {
    display:block;

    font-family: var(--font-space-mono);
    font-size: 2rem;
    font-weight: bold;

    text-decoration: none;

    max-width:19rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.social-section-anchor-contents {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.social-section-redirect-icon {
    margin-left: auto;
    font-size: 1.75rem;
}

#social-section-github:hover {
    color: var(--github-color-fg);
    background-color: var(--github-color-bg);
    border-color: var(--github-color-border);


}

#social-section-youtube:hover {
    background-color: #CD201F;
}

#social-section-steam:hover {
    background-color: #1b2838;
    color: #c7d5e0;
}
