
/*
    3D Animation
*/

#portfolio-popup-3d-animation .portfolio-popup-contents {
    display:flex;
    flex-direction: column;
    padding:0;

    background-color: var(--color-dark);
}


/*
    VIDEO DROPDOWN
*/
#portfolio-popup-3d-animation-video-dropdown {
    height:4rem;

    background-color: var(--color-fg);
    
    display:flex;
    flex-direction: column;

    transition:height 0.2s ease;
}

#portfolio-popup-3d-animation-video-dropdown.gallery-dropdown {
    height:300%;
}


#portfolio-popup-3d-animation-video-dropdown:not(.gallery-dropdown) #animation-video-dropdown {
    display:none;
}


#portfolio-popup-3d-animation-video-dropdown.gallery-dropdown #animation-video-dropdown-arrow img {
    transform: rotate(180deg);
}

#animation-video-dropdown {
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
        
    display:flex;
    
    flex-direction: column;
    
}
#animation-video-dropdown-contents {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
        
    display:flex;
    flex-direction:row;
    
}


/*
    VIDEO DROPDOWN ARROW
*/
#animation-video-dropdown-arrow {
    width:100%;
    height:3.5rem;

    align-self: flex-end;

    overflow: hidden;

    background-color: transparent;
    border:none;


    flex-grow: 1;


    box-sizing: border-box;
        
    margin-left:auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
#animation-video-dropdown-arrow img {
    width:2.5%;
    
    filter:invert(100%);
    -webkit-filter: invert(100%);


    transition:transform 0.1s ease;
}
#animation-video-dropdown-arrow:hover img {
    transform:translateY(10px);
}

/*
    VIDEO DROPDOWN TAB BUTTONS
*/
#animation-tab-btn-video-small {
    display:none;
}
#animation-tab-btn-vidinfo-small {
    display:none;
}

#animation-video-dropdown-tab-buttons {
    width:100%;
    height: clamp(2rem,2vw,4rem);

    display:flex;

    border-bottom: 2px solid var(--color-dark);
    
}
#animation-video-dropdown-tab-buttons button {
    width:100%;
    height:100%;
    border:none;

    border: 2px solid var(--color-dark);
    border-right:none;
    border-bottom:none;

    background-color: var(--color-fg);
    color: #FFF;

    font-family: var(--font-space-mono);
    font-size: clamp(1rem,1vw,2rem);
}
#animation-video-dropdown-tab-buttons button:hover {
    background-color: var(--color-fg-light);
}
#animation-video-dropdown-tab-buttons button.selected-tab {
    background-color: var(--color-fg-tab-select);
}

/*
    VIDEO ABOUT
*/
#animation-video-dropdown-about {
    width:100%;
    height: calc(100% - 1rem);
    
    position: relative;

    background-color: var(--color-fg-graylight);
    border-bottom:0.5rem solid var(--color-fg-graydark);

    overflow-y:hidden;
    overflow-x:hidden;
}

#animation-video-dropdown-about-txt-container {
    padding:1rem 1.25rem 1rem 1.25rem;

    position: relative;
}
.animation-video-dropdown-about-txt {
    line-height: 1.85rem;
    width:100%;
    height:100%;

    font-size: 1.5rem;
    
    word-spacing: normal;
    font-family: var(--font-space-grotesk);
    
    color: var(--color-text-dark);
}

#animation-video-dropdown-about-txt-container li {
    font-family: var(--font-space-grotesk);
    margin-top:1rem;
}
#animation-video-dropdown-about-img-wrapper {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    box-sizing: border-box;
    pointer-events: none;
}
#animation-video-dropdown-about-img {
    width:clamp(10rem,30vw,45rem);
    position: absolute;
    left:0;
    bottom:0;
}
:root.dark #animation-video-dropdown-about-img {
    filter:invert(100%);
    -webkit-filter: invert(100%);
}

@media (min-width:3000px) {
    .animation-video-dropdown-about-txt {
        font-size: clamp(1.5rem,1.5vw,3rem);
    }
    #animation-video-dropdown-about-img {
        width:clamp(10rem,30vw,65rem);
    }

}

/*
    VIDEO INFO
*/
#animation-video-dropdown-vid-info {
    width:50%;
    height: calc( 100% + 1px ); 

    box-sizing: border-box;


    position: relative;
}
#animation-video-dropdown-vid-info-txt-container {
    box-sizing: border-box;

    width:100%;
    height:100%;

    position:absolute;
    overflow-y:scroll;
    scrollbar-color: #FFF var(--color-fg) !important;
    scrollbar-width:thin !important;

    border-left:2px solid black;
    border-bottom:2px solid black;

}
#animation-video-dropdown-vid-info-txt-container::-webkit-scrollbar {
    background-color: var(--color-fg) !important;
    color:#FFF !important;
}

.animation-video-dropdown-vid-info-txt {
    color: #FFF;
    
    font-size: 1.2rem;
    
    margin: 0.65rem 0 0.65rem 0;
    
    padding: 0 0.5rem 0 0.5rem;

    

    & a {
        color:white;
    }
}

.animation-video-dropdown-vid-info-txt::selection {
    background-color: #020d1c;
    color:white;
}
.vid-info-txt-title {
    font-size: 1.5rem;
    font-weight: bold;

}
.vid-info-txt-date {

    border-bottom:2px solid black;
}
.vid-info-txt-special {
    font-family: var(--font-space-mono);
    font-weight: bold;
    font-size: 1.5rem;
    
    background-color: var(--color-fg-dark);
    border-radius: 1.5rem;
    padding: 0.5rem;
    
    margin-right: 0.5rem;

}
.vid-info-txt-special::selection {
    background-color: #020d1c;
    color:white;
}

@media (min-width:3000px) {
    .animation-video-dropdown-vid-info-txt {
        font-size: clamp(1.2rem,1.2vw,2.25rem);

        column-height: 3rem;
    }
    .vid-info-txt-title {
        font-size: clamp(1.5rem,1.5vw,4.25rem);
        margin-bottom:clamp(2rem,2vw,2.5rem);
    }
    .vid-info-txt-date {

        border-bottom:2px solid black;
    }
    .vid-info-txt-special {
        font-size: clamp(1.5rem,1.5vw,2.5rem);
        
        border-radius: clamp(1.5rem,1.5vw,2.5rem);
        padding: clamp(0.5rem,0.5vw,0.7rem);

    }

    .animation-video-dropdown-vid-info-txt {
        column-height: 3rem;
    }
}

/*
    VIDEO PLAYER
*/
#animation-video-wrapper {
    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    transition: height 0.2s ease;
    border-bottom: 2px solid var(--color-dark);
}
#animation-video-player-placeholder-txt {
    font-family: var(--font-space-grotesk);
    text-align: center;
    
    color: #FFF;
}

@media (min-width:3000px) {
    #animation-video-player-placeholder-txt {
        font-size: clamp(2rem,2vw,3rem);
    }
}


#animation-video-wrapper iframe {
    width:100%;
    height:100%;

    background-image: url(/assets/images/loading_video.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-color: black;
}

/*
    ANIMATION GALLERY
*/
#portfolio-popup-3d-animation-gallery {
    height:100%;

    display:flex;
    flex-wrap: wrap;
    align-items: start;

    padding: 1rem;

    overflow:scroll;
    overflow-x: hidden;

    background-image: url("/assets/images/portfolio/otherwork/grid.svg");
	background-repeat: repeat;
	background-size: 1rem;

}

.popup-3d-animation-gallery-item {
    --gallery-item-width: clamp(12.8rem,16vw,16rem);
    --gallery-item-height: clamp(7.2rem,9vw,9rem);

    width: var(--gallery-item-width);
    height: calc( var(--gallery-item-height) + 5rem );

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 0.1rem;

}


.gallery-item-caption {
    font-family: var(--font-space-grotesk);
    font-size: clamp(1.25rem,1.25vw,2rem);
    font-weight: 400;

    
    display:block;
   
    text-wrap: wrap;
    width:fit-content;
    height:3rem;
    text-align: center;

    margin-top: 0.5rem;
    
    background-color: rgba(0,0,0,0.5);
    
    
    color: #FFF;

    transition: color 0.05s ease;

}


.gallery-item-thumb {
    width:var(--gallery-item-width);
    height:var(--gallery-item-height);
    min-width: var(--gallery-item-width);
    min-height: var(--gallery-item-height);


    border:0.25rem solid var(--color-fg);
    border-radius: 0.25rem;

    background-image: url(/assets/images/loading_image.png);
    background-size:cover;

    display:inline-block;
  
    filter:none;
    -webkit-filter: none;

    transition: transform 0.1s ease;
}
.popup-3d-animation-gallery-item:hover {
    z-index: 100;
    cursor:pointer;
}
.popup-3d-animation-gallery-item:hover > .gallery-item-thumb {
    filter:brightness(1.1);
    -webkit-filter: brightness(1.1);

    border-color: var(--color-fg-light);

    transform:translateY(-5px);
}

.popup-3d-animation-gallery-item:hover > .gallery-item-caption {
    color: var(--color-fg-light);
}


/*
    ANIMATION GALLERY BOTTOM BAR (search and stuff)
*/
#portfolio-popup-3d-animation-bottom-bar {
    height:clamp(3rem,3vw,6rem);
    min-height: clamp(3rem,3vw,6rem);

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

	gap:2rem;

    background-color: var(--color-fg);
}

#animation-gallery-search-bar {
    width:clamp(20rem,20vw,50rem);
    height:clamp(2rem,2vw,4rem);

    background-color: var(--color-fg-dark);
    color: #FFF;

    border-radius: clamp(1.25rem,1.25vw,4rem);
    border:none;

    padding-left: clamp(0.5rem,0.5vw,1rem);
    padding-right: clamp(0.5rem,0.5vw,1rem);

    font-family: var(--font-roboto);
    font-size: clamp(1.25rem,1.25vw,2.5rem);
}

#animation-gallery-search-bar:focus {
    outline:2px solid white;
}

#animation-gallery-show-old-work-checkbox-label {
    font-family: var(--font-roboto);
	font-size: clamp(1rem,1vw,2rem);

    color: white;
	
	display:flex;
	align-items: center;
	justify-content: center;

	&::selection {
		background-color: var(--color-fg-verydark);
	}
}

#animation-gallery-show-old-work-checkbox {
    width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	white-space: nowrap;

	border:0;


	&:checked+#animation-gallery-show-old-work-checkbox-icon {
		background-color: var(--color-fg-light);
		border-color: var(--color-fg-dark);

		& svg {
			display:inline;
		}
	}
}

#animation-gallery-show-old-work-checkbox-icon {
	width: clamp(1.25rem,1.25vw,3rem);
	height: clamp(1.25rem,1.25vw,3rem);

    background-color: var(--color-fg-dark);

	border: 3px solid var(--color-fg-verydark);
	border-radius: 5px;

	margin-right: 1rem;
	
	&:hover {
		cursor: pointer;
		background-color: var(--color-fg-light);
	}

	display:flex;
	justify-content: center;
	align-items: center;

	& svg {
		display:none;
	}

}