
body {
    margin:0;
    overflow-x: hidden;
}
#layout-container {
    width:100%;
    height:fit-content;

    box-sizing: border-box;
        
    display:grid;

    grid-template-columns: 0fr 1fr 0fr;
}

@keyframes comfort-margin-scroll
{
    from {
        background-position-y:0px;
    }
    to {
        background-position-y: 100%;
    }
}

#comfort-margin {
    width:min(25vw,25rem);

    background-image: url("/assets/images/comfort_margin.png");
    background-size:contain;
    
    animation: comfort-margin-scroll 70s linear infinite;

    opacity: var(--color-comfort-margin-opacity);
}
/* Disable animation on margin if we prefer reduced motion. */
@media (prefers-reduced-motion: reduce) {
    #comfort-margin {
        animation: none;
    }
}

/* The area between the navbar and the comfort margin. */
main { 
    width:95%;

    margin-left: auto;
    margin-right: auto;
}
/*
    NAVBAR
*/
#left-navbar {
    --left-navbar-width:clamp(18.5rem,23vw,23rem);


    width:var(--left-navbar-width);
    background-color: var(--color-bg-shade);
    
    border-right: 4px solid var(--color-dark);
}
#left-navbar-dither-overlay {
    width:var(--left-navbar-width);
    height:50rem;

    background-image: url("/assets/images/dither_effect.png");
    background-size:contain;
    background-repeat: repeat-x;
    

    position: fixed;
    /* keep at bottom */
    top:calc(100% - 50rem);
    left:0;

    opacity:0.15;
    
    pointer-events: none;
}
#left-navbar-contents {
    width:clamp(16rem,20vw,20rem);

    position:fixed;

    display:flex;
    flex-direction: column;
    gap:0.25rem;

    margin-left:1.5rem;
    margin-right: 1.5rem;
}

#navbar-header {
    margin-top:1.5rem;
    margin-bottom: 1rem;

    color: var(--color-text-dark);

    display: flex;
    align-items: center;
}


.nav-anchor {
    color: var(--color-text-dark);
    background-color:var(--color-bg-shade);

    border:3px solid var(--color-dark);
  
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  
    padding-top:0.50rem;
    padding-bottom:0.50rem;
    
    text-decoration: none;

    transition:color 0.05s ease,background-color 0.1s ease;

}
.nav-anchor:hover {
    background-color: var(--color-fg);
    color: #fff;

}

.nav-anchor-text {
    font-family: var(--font-space-mono);
    font-size: large;
    font-weight: 400;
    font-style: normal;
    margin-left:2rem;
}

#light-mode-btn {
    width: 5rem;
    height:2.1rem;
    padding:0;
    margin:0;
    
    cursor: pointer;
    
    position: relative;

    display:inline-block;
    
    margin-left: auto;
}
#light-mode-btn[aria-checked="true"] #light-mode-btn-icon-moon {
    color:white;
}
#light-mode-btn[aria-checked="false"] #light-mode-btn-icon-sun {
    color:white;
}

#light-mode-btn-interior {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding:0;
    
    width: 100%;
    
    height: 100%;
    
    box-sizing: border-box;
            
    pointer-events: none;
}
.light-mode-btn-icon {
    font-size: 1.5rem;
    width:100%;
    height:100%;
    
    color:black;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
#light-mode-btn-selected-shade {
    position: absolute;


    width: 50%;
    height:100%;
    left:0%;

    background-color: var(--lightmode-color-lightmode-btn-select);
    
    transition: left 0.1s ease, background-color 0.25s ease;

    &.light-mode-btn-dark-select {
        left:50%;
        background-color: var(--darkmode-color-lightmode-btn-select);
    }
}

#light-mode-btn-divider {
    width: 5px;
    height:2rem;
    background-color: var(--color-dark);

    box-sizing: border-box;
}

@media (min-width:3000px) {
    #navbar-header {
        font-size: clamp(1rem,2.5vw,2.5rem);
    }
    .light-mode-btn-icon {
        font-size: 3rem;
    }
    #light-mode-btn {
        width: 10rem;
        height: 5rem;
        
    }
    #light-mode-btn-divider {
        width: 1rem;
        height:4.9rem;
    }
    #left-navbar {
        --left-navbar-width:clamp(18.5rem,23vw,30rem);
    }
    #left-navbar-contents {
        width:clamp(16rem,20vw,27rem);
        gap:1.5rem;
    }
    .nav-anchor-text {
        font-family: var(--font-space-mono);
        font-size: clamp(1.5rem,2.5vw,2.5rem);
        font-weight: 400;
        font-style: normal;
        margin-left:2rem;
    }
}

.main-section:not(:first-of-type) {
    margin-bottom: 5rem;
}

/* Headers for each section. */
.main-section h1 {
    font-family: "Cormorant Garamond", serif;
    font-size:clamp(6.4rem,16vw,16rem);
    font-weight: bold;
    
    color: var(--color-text-dark);
    
    
    letter-spacing: clamp(-1.2rem,-1.2vw,0rem);
    margin-top:0;
    margin-bottom:0;
    
    --header-shadow-drop: clamp(0.2rem,0.30vw,0.30rem);

    text-shadow: calc( var(--header-shadow-drop) * -1 ) var(--header-shadow-drop) var(--color-bg-darkshade);
}

p,pre {
    font-family: var(--font-space-grotesk);
    font-weight: 400;
    font-size: 1.25rem;

    color: var(--color-text-dark);
    transition: color 0.2s ease;
    
    text-wrap-mode:wrap;
    line-height:2.60rem;
    
}

main p,pre {
    font-size: clamp(1.25rem,1vw,10rem);
    
    line-height:clamp(2.60rem,2.60vw,5rem);
}


/*
ABOUT SECTION
*/

#about-section-header {
    margin-top:-3vh;
    margin-bottom: 3rem;
}

@media (min-width:3000px) {
    #about-section-header {
        margin-top:0;

    }
}

@media (max-width:900px) {
    #about-section-header {
        margin-top:-2vh;
    }
}

#about-section {
    display:flex;
    flex-direction: column;
}

#first-paragraph {
    margin-top:0;
    transform: translateY(-2rem);
}
.first-paragraph-end-statement {
    width:100%;
    
    font-size: clamp(2rem,2vw,4rem);
    
    display:inline-block;
    text-align: center;
}
#first-paragraph-end-statement-2 {
	display:none;
}
#first-paragraph-end-statement-3 {
	display:none;
}

#about-section-scroll-indicator {    
    
    font-family: var(--font-roboto);
    font-weight: 100;
    font-size: 4vw;
    
    letter-spacing: 3.5vw;
    text-align: center;
    opacity: 0.15;
    user-select: none;
    -webkit-user-select: none;
    
    display:flex;
    
    justify-content: center;
    
    flex-grow: 1;
}

#about-section-scroll-indicator-bar {
    align-self: flex-end;
    margin-bottom: 4rem;
}

#about-section-scroll-indicator svg {
    width:3rem;
    color:var(--color-text-dark)
}
/* Hide extra arrows on lower widths. */
@media (max-width:1200px) {
    #about-section-scroll-indicator svg:nth-child(6) {
        display:none;
    }
}
@media (max-width:1100px) {
    #about-section-scroll-indicator svg:nth-child(5) {
        display:none;
    }
}

/*
PORTFOLIO SECTION (Handled in index.section.portfolio.css)
*/

/*
SOCIAL SECTION (Handled in index.section.social.css)
*/

/*
CONTACT SECTION
*/

#contact-section-options {
    font-family: var(--font-space-grotesk);
    
    font-size: clamp(1.5rem,1.5vw,3rem);
    text-wrap-mode: nowrap;
    
    line-height: clamp(3rem,3vw,5rem);
    
    color: var(--color-text-dark);
    
    & a {
        color: var(--color-text-dark);
    }
}

.contact-section-icon {
    margin-right: 0.5rem;
}


/*
FOOTER
*/

#footer {
    border-top: 3px solid var(--color-dark);
    position: relative;
    
    height:fit-content;
    
    width:100vw;
    
    overflow: hidden;
    
    background-color: var(--color-bg-darkshade);
}

#footer-text-container {
    display:flex;
    gap:1rem;
    padding: 1.5rem;
    
    align-items: center;

    height:clamp(1rem,3vw,3rem);

    & p {
        font-size: clamp(1.25rem,1vw,10rem);
    }
}