@media all and (max-width: 1500px) {
	#portfolio-popup-other-projects .portfolio-popup-contents {
		background-color: var(--color-dark);
		background-image: url("/assets/images/portfolio/otherwork/grid.svg");
		background-repeat: repeat;
		background-size: 3rem;
		
		padding:2rem;
		
		box-sizing: border-box;
				
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	#otherwork-header-phone {
		display:inline;
		color:white;
		text-align: center;
		font-family: var(--font-space-grotesk);
	}

	#otherwork-first-item-tip {
		display: none;
	}


	.otherwork-item {
		--otherwork-item-width: clamp(18rem,30vw,30rem);
		width:var(--otherwork-item-width);
		height:11.25rem;
		text-align: center;
		
		height:fit-content;

		margin-right:auto;
		margin-left: auto;
	}


	.otherwork-item :is(img,video) {
		max-width:var(--otherwork-item-width);
		box-shadow: 5px 5px var(--color-darkgray), -5px -5px var(--color-fg);
	}

	.otherwork-item-viewer-img {
		max-width: inherit;
		max-height: inherit;
		min-width: 32vw;
		min-height: 32vw;
		background-size: contain;
		background-position:center;
		background-repeat: no-repeat;
		background-color: black;
		border: 3px solid rgb(100,100,100);
	}

	.otherwork-item-viewer-btn {
		font-size: 1.5rem;
		width:3rem;
		height:5rem;
	}

	@media (orientation: landscape) {
		#otherwork-item-viewer {
			width: 100vw;
			height: 100vh;
			transform: translate(-0.5rem,-0.5rem);
			box-sizing: border-box;
			z-index: 1;
		}

		.otherwork-item-viewer-img {
			transform:none;
			width:clamp(500px,80%,100vh);
			height:auto !important;
		}
		#otherwork-item-viewer-btn-right {
			transform:translateX(-0.2rem);
		}
		#otherwork-item-viewer-btn-left {
			transform:translateX(0.2rem);
		}
	}
	@media (orientation: portrait) {

		#otherwork-item-viewer {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 1;
		}
		.otherwork-item-viewer-img {
			transform: rotate(90deg);
			width:120vw;
		}
		
		#otherwork-item-viewer-btn-right {
			transform: rotate(90deg) translateX(-1rem);
			margin-left:0;
		}
		#otherwork-item-viewer-btn-left {
			margin-right:0;
			transform: rotate(90deg) translateX(1rem);
		}
	}
}