
/*
    PORTFOLIO SECTION
*/
#portfolio-section {
    height:fit-content;
}

#portfolio-choice-container {
    width: 100%;
    height:fit-content;

    display:grid;


    margin-left:auto;
    margin-right:auto;

    gap: 1vw;

    grid-template-areas:
    "a b"
    "c c";

}

.portfolio-choice {

    height: 50vh;
    max-height: 40rem;

    position: relative;
    border: 6px solid var(--color-border-dark);
    transition:border 0.25s ease;

    &:focus {
        border:10px solid var(--color-fg);
    }

    overflow:hidden;
    background-color: black;
}



.portfolio-choice-bg {
    width:100%;
    height:100%;

    box-sizing: border-box;
        
    position: absolute;
    top:0;
    left:0;
}

.portfolio-choice-overlay {
    width:100.5%;
    height:100.5%;

    background-color: #00439b4a;

    display:flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
        

    position:absolute;
    top:0;
    left:0;
    transition:
        background-color 0.1s ease,
        
}
.portfolio-choice-overlay:hover {
    background-color: #1857a96b;

    transform: translate3d(0, 0, 0);
    cursor:pointer;
}
.portfolio-choice-overlay:hover .portfolio-choice-text {
    position: relative;
    transform:scale(110%);
}

.portfolio-choice-text {

    font-family: var(--font-space-grotesk);
    font-weight: bold;
    font-size:clamp(2rem,3%,3rem);

    color: #FFF;
    text-shadow:
        -2px -2px 2px #000,
        2px -2px 2px #000,
        -2px 2px 2px #000,
        2px 2px 2px #000;

    user-select: none;
    -webkit-user-select: none;

    transition:transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*
    SPECIFIC PORTFOLIO CHOICES
*/
#portfolio-choice-3d-animation {
    grid-area: a;
}
#portfolio-choice-3d-animation .portfolio-choice-bg {
    background-image:url(/assets/images/portfolio/thumbnails/animation_thumbnail.jpg);
    background-size: cover;
    background-position: center;
     
    transform: rotate(-10deg) scale(120%);
}


#portfolio-choice-programming {
    grid-area: b;
}
#portfolio-choice-programming .portfolio-choice-bg {
    background-image:url(/assets/images/portfolio/thumbnails/programming_thumbnail.jpg);
    background-size: cover;
    background-position: center;
    transform: rotate(-10deg) scale(120%); 
}

@media (min-width:3000px) {
    #portfolio-choice-3d-animation .portfolio-choice-bg {
        transform:none;
    }
    #portfolio-choice-programming .portfolio-choice-bg {
        transform:none;
    }
}

/*
#portfolio-choice-programming .portfolio-choice-overlay {
    &:hover {

    }
}
*/



#portfolio-choice-other-projects .portfolio-choice-bg {
    background-image:url(/assets/images/portfolio/thumbnails/otherwork_thumbnail.jpg);
    background-size: cover;
}

#portfolio-choice-other-projects {
    grid-area: c;
    height:6.5rem;
}
