
/*
    3D Animation
*/

#portfolio-popup-3d-animation .portfolio-popup-contents {
    display:flex;
    flex-direction: column;
    padding:0;

    background-color: var(--color-dark);
}


/*
    VIDEO DROPDOWN
*/
#portfolio-popup-3d-animation-video-dropdown {
    height:4rem;

    background-color: var(--color-fg);
    
    display:flex;
    flex-direction: column;

    transition:height 0.2s ease;
}

#portfolio-popup-3d-animation-video-dropdown.gallery-dropdown {
    height:125vh;
}


#portfolio-popup-3d-animation-video-dropdown:not(.gallery-dropdown) #animation-video-dropdown {
    display:none;
}


#portfolio-popup-3d-animation-video-dropdown.gallery-dropdown #animation-video-dropdown-arrow img {
    transform: rotate(180deg);
}

#animation-video-dropdown {
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
        
    display:flex;
    
    flex-direction: column;
    
}
#animation-video-dropdown-contents {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
        
    display:flex;
    flex-direction:row;
    
}


/*
    VIDEO DROPDOWN ARROW
*/
#animation-video-dropdown-arrow {
    width:100%;
    height:3rem;

    align-self: flex-end;

    overflow: hidden;

    background-color: transparent;
    border:none;


    flex-grow: 1;


    box-sizing: border-box;
        
    margin-left:auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
#animation-video-dropdown-arrow img {
    width:2.5%;
    
    filter:invert(100%);
    -webkit-filter: invert(100%);

    transition:transform 0.1s ease;
}
#animation-video-dropdown-arrow:hover img {
    transform:translateY(10px);
}

/*
    VIDEO DROPDOWN TAB BUTTONS
*/
#animation-video-dropdown-tab-buttons {
    width:100%;
    height:2rem;

    display:flex;

    border-bottom: 2px solid var(--color-dark);
}
#animation-video-dropdown-tab-buttons button {
    width:100%;
    height:100%;
    border:none;

    background-color: var(--color-fg);
    color: #FFF;

    font-family: var(--font-space-mono);
    font-size: 1rem;
}
#animation-video-dropdown-tab-buttons button:hover {
    background-color: var(--color-fg-light);
}
#animation-video-dropdown-tab-buttons button.selected-tab {
    background-color: var(--color-fg-tab-select);
}

/*
    VIDEO ABOUT
*/
#animation-video-dropdown-about {
    width:100%;
    height:97%;
    
    background-color: var(--color-fg-graylight);
    border-bottom:0.5rem solid var(--color-fg-graydark);

    overflow-y:scroll;
    overflow-x:hidden;
}
#animation-video-dropdown-about-txt-container {
    padding:1rem 1.25rem 1rem 1.25rem;
}
.animation-video-dropdown-about-txt {
    line-height: 1.85rem;
    width:100%;
    height:100%;
    
    word-spacing: normal;
    font-family: var(--font-roboto);
    
    color: var(--color-text-dark);
}
#animation-video-dropdown-about-txt-container li {
    font-family: var(--font-space-grotesk);
    margin-top:1rem;
}

/*
    VIDEO INFO
*/
#animation-video-dropdown-vid-info {
    width:50%;
    height:100%;

    box-sizing: border-box;
}
#animation-video-dropdown-vid-info-txt-container {
    box-sizing: border-box;
        

    position:absolute;
    overflow-y:scroll;
    scrollbar-color: #FFF var(--color-fg) !important;
    scrollbar-width:thin !important;

    border-left:2px solid black;
    border-bottom:2px solid black;
}
#animation-video-dropdown-vid-info-txt-container::-webkit-scrollbar {
    background-color: var(--color-fg) !important;
    color:#FFF !important;
}

.animation-video-dropdown-vid-info-txt {
    color: #FFF;
    
    font-size: 1.2rem;
    
    margin: 0.65rem 0 0.65rem 0;
    
    padding: 0 0.5rem 0 0.5rem;
}
.animation-video-dropdown-vid-info-txt::selection {
    background-color: #020d1c;
    color:white;
}
.vid-info-txt-title {
    font-size: 1.5rem;
    font-weight: bold;

}
.vid-info-txt-date {

    border-bottom:2px solid black;
}
.vid-info-txt-special {
    font-family: var(--font-space-mono);
    font-weight: bold;
    font-size: 1.5rem;
    
    background-color: var(--color-fg-dark);
    border-radius: 25px;
    padding:0.5rem;
    
    margin-right: 0.5rem;

}
.vid-info-txt-special::selection {
    background-color: #020d1c;
    color:white;
}

/*
    VIDEO PLAYER
*/
#animation-video-wrapper {
    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    transition: height 0.2s ease;
}
#animation-video-player-placeholder-txt {
    font-family: var(--font-space-grotesk);
    
    color: #FFF;
}

#animation-video-wrapper iframe {
    width:100%;
    height:100%;

    background-image: url(/assets/images/loading_video.png);
    background-size:cover;
    background-position-y: center;
}

/*
    ANIMATION GALLERY
*/
#portfolio-popup-3d-animation-gallery {
    height:100%;

    display:flex;
    flex-wrap: wrap;
    align-items: start;

    padding: 1rem;

    overflow:scroll;
    overflow-x: hidden;

    background-image: url("/assets/images/portfolio/otherwork/grid.svg");
	background-repeat: repeat;
	background-size: 1rem;

}

.popup-3d-animation-gallery-item {
    width:20%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* Keep everything to the left. */
    margin-right: auto;
    margin-left: auto;

    padding: 0.1rem;

    backdrop-filter: blur(6px);
    --webkit-backdrop-filter: blur(6px);
}


.gallery-item-caption {
    font-family: var(--font-space-grotesk);
    font-size: 1.25rem;
    font-weight: 400;

    margin-top: 0.5rem;
    
    text-wrap: nowrap;
    
    color: #FFF;

    transition: color 0.05s ease;

}

.gallery-item-thumb {
    width:max(100%,8rem);
    height:max(100%,4.5rem);
    /* magic number that solves all my problems :D */
    min-height:calc(0.1363191763 * 100vh);

    border:0.25rem solid var(--color-fg);
    border-radius: 0.25rem;

    background-image: url(/assets/images/loading_image.png);
    background-size:cover;

    display:inline-block;
  
    filter:none;
    -webkit-filter: none;

    transition: transform 0.1s ease;
}
.popup-3d-animation-gallery-item:hover {
    z-index: 100;
    cursor:pointer;
}
.popup-3d-animation-gallery-item:hover > .gallery-item-thumb {
    filter:brightness(1.1);
    -webkit-filter: brightness(1.1);

    border-color: var(--color-fg-light);

    transform:translateY(-5px);
}

.popup-3d-animation-gallery-item:hover > .gallery-item-caption {
    color: var(--color-fg-light);
}


/*
    ANIMATION GALLERY BOTTOM BAR (search and stuff)
*/
#portfolio-popup-3d-animation-bottom-bar {
    height:3rem;
    min-height: 3rem;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: var(--color-fg);
}

#animation-gallery-search-bar {
    width:20rem;
    height:2rem;

    background-color: var(--color-fg-dark);
    color: #FFF;

    border-radius: 10px;
    border:none;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    font-family: var(--font-roboto);
    font-size: 1.25rem;
}

#animation-gallery-search-bar:focus {
    outline:2px solid white;
}