
/*
    PORTFOLIO POPUPS
*/


.portfolio-popup.hidden {
    display:none;
}

@keyframes portfolio-popup-open
{
    from {
        opacity: 0.5;
    }
    to {    
        opacity: 1.0;
    }
}

.portfolio-popup.shown {
    animation: portfolio-popup-open 0.1s ease;
}

.portfolio-popup {
    position:fixed;
    width:100%;
    height:100%;
   
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) brightness(0.5);
    -webkit-backdrop-filter: blur(10px) brightness(0.5);
    
    z-index: 99;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.portfolio-popup-close {
    position:absolute;

    width:1rem;
    height:1rem;
    padding:1rem;

    /*
        Margin leads us to the top right of popup-contents.
        8rem is the popup padding
    */
    margin-left:calc(100vh + 20rem);
    margin-top:calc(-70vh - 8rem);
    
    color:white;
    font-weight: bold;

    box-shadow: 0 0 1px 4px #00000040;

    background-color: var(--color-darkgray);
    border:2px solid var(--color-darklight);
    

    display:flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;

    transform:scale(1.0);
    transition: background-color 0.065s ease, border-color 0.065s ease,transform 0.065s ease;
}
.portfolio-popup-close img {
    pointer-events: none;
}
.portfolio-popup-close:hover {
    background-color: var(--color-red);
    border-color: var(--color-red-dark);
    transform:scale(1.05);
}

.portfolio-popup-content-wrapper {
    
    display:flex;

    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 1px 10px #00000040;

    width:calc(100vh + 20rem);
    height:calc(70vh + 8rem);
    
    background-color: var(--color-darklight);
    border: 0.5rem solid var(--color-darkgray);
    border-radius: 0.25rem;
    


}
.portfolio-popup-header {
    text-align: center;

    font-family:"Space Mono",monospace;

    color:white;
    background-color: var(--color-darkgray);

    box-shadow: 0 5px 0 0px #00000040;

    font-size: 2rem;
    
    width: 100%;
    height:6rem;
    
    letter-spacing:normal;

    user-select: none;
    -webkit-user-select: none;
}
.portfolio-popup-header h1 {
    display:inline-block;
    
    margin-top:4rem;
    transform:translateY(-4rem);
}

.portfolio-popup-contents {
    padding:4rem;

    
    width:100%;
    height:100%;
    overflow: hidden;
}

/*
    3D Animation
*/

#portfolio-popup-3d-animation .portfolio-popup-contents {
    display:flex;
    flex-direction: column;
    padding:0;

    background-color: var(--color-dark);
}


#portfolio-popup-3d-animation-video-dropdown {
    background-color: var(--color-darkgray);
    height:8rem;
    
    display:flex;
    flex-direction: column;

    transition:height 0.2s ease;
}
#portfolio-popup-3d-animation-video-dropdown.gallery-dropdown {
    height:100rem;
}
#portfolio-popup-3d-animation-video-dropdown:not(.gallery-dropdown) #gallery-video-wrapper iframe {
    filter:brightness(0%);
}

#gallery-video-wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
#gallery-video-wrapper iframe {
    width:100%;
    height:100%;
}

#gallery-video-dropdown-arrow {
    
    align-self: flex-end;

    width:100%;
    height:3rem;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin-left:auto;

    display: flex;
    justify-content: center;
    cursor:pointer;
}
#gallery-video-dropdown-arrow img {
    width:3%;
    filter:invert(100%);
    -webkit-filter: invert(100%);
}

#portfolio-popup-3d-animation-gallery {
    display:flex;
    flex-wrap: wrap;
    align-items: start;

    padding:1rem;

    height:100%;

    overflow:scroll;
    overflow-x: hidden;

    /* Will be spaced evenly but everything will stick to the left. (see below) */


}
.popup-3d-animation-gallery-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20%;

    /* Keep everything to the left. */
    margin-right: auto;
}


.popup-3d-animation-gallery-item figcaption {
    font-family:"Space Grotesk","Roboto",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    margin-top: 0.5rem;
    
    text-wrap: nowrap;
    
    color:white;

    transition: color 0.05s ease;
}

.popup-3d-animation-gallery-item img {
    border:0.25rem solid var(--color-fg);
    border-radius: 0.25rem;

    width:100%;
    height:100%;
  
    filter:none;
    -webkit-filter: none;

    transition: transform 0.1s ease;
}
.popup-3d-animation-gallery-item:hover {
    z-index: 100;
    cursor:pointer;
}
.popup-3d-animation-gallery-item:hover img {
    filter:brightness(1.1);
    -webkit-filter: brightness(1.1);
    border-color: var(--color-fg-light);
    transform:translateY(-5px);
}

.popup-3d-animation-gallery-item:hover figcaption {
    color: var(--color-fg-light);
}