@media screen {
    #layout-container {
        display: flex;
        grid-template-columns: none;

        flex-direction: column;
    }
	#left-navbar {
		width:100%;
		
		position:sticky;
		display:block;
		height:5rem;
		z-index: 9999;
	}
	#left-navbar-dither-overlay {
		display:none;
	}
	#left-navbar-contents {
		background-color: var(--color-bg-shade);
		width:100%;
		height:5rem;
	
		border-bottom:0.15rem solid black;
		margin:0;

		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		display:flex;
		flex-direction: row;
		align-items: center;

		gap:1rem;
		padding:1rem;

	}

	#navbar-header {
		margin-top:0;
		margin-bottom:0;
		gap:2rem;
		height:3rem;
	}


	.nav-anchor:not(.social-section-nav-anchor) {
		color: var(--color-text-dark);
		background-color:var(--color-bg-shade);

		border:3px solid var(--color-dark);
	
		width:10rem;

		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	
		padding-top:0.50rem;
		padding-bottom:0.50rem;
		
		text-decoration: none;

		transition:color 0.05s ease,background-color 0.1s ease;

		&:first-of-type {
			margin-left:auto;
		}
	}
	.nav-anchor:hover {
		background-color: var(--color-fg);
		color: #fff;

	}

	.nav-anchor-text {

		margin-left:0;
		padding:1rem;
		text-align: center;
	}

	#light-mode-btn {
		width:clamp(4rem,15vw,15rem);
		height: 3rem;
		padding: 0;

		cursor: pointer;
		
		position: relative;

		display:inline-block;
		
		margin-left: auto;
	}
	#light-mode-btn[aria-checked="true"] #light-mode-btn-icon-moon {
		color:white;
	}
	#light-mode-btn[aria-checked="false"] #light-mode-btn-icon-sun {
		color:white;
	}

	#light-mode-btn-interior {
		display: flex;
		align-items: center;
		justify-content: center;
		
		padding:0;
		
		width: 100%;
		
		height: 100%;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		pointer-events: none;
	}
	.light-mode-btn-icon {
		font-size: 1.5rem;
		width:100%;
		height:100%;
		
		color:black;

		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	#light-mode-btn-selected-shade {
		position: absolute;


		width: 50%;
		height:100%;
		left:0%;

		background-color: var(--lightmode-color-lightmode-btn-select);
		
		transition: left 0.1s ease, background-color 0.25s ease;

		&.light-mode-btn-dark-select {
			left:50%;
			background-color: var(--darkmode-color-lightmode-btn-select);
		}
	}

	#light-mode-btn-divider {
		width: 5px;
		height:3rem;
		background-color: var(--color-dark);

		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

}

#phone-navbar-dropdown-btn {
	anchor-name: --phone-navbar-dropdown-btn;
}

#phone-navbar-dropdown {
	position: absolute;
	position-anchor: --phone-navbar-dropdown-btn;
	position-area: bottom left;
	top:2rem;
	left:calc(100% - 6rem);
	display:flex;
	flex-direction: column;
	border:2px solid red;
}