/*
    Programming
*/

#portfolio-popup-programming .portfolio-popup-contents {
    display:flex;

    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
            
    overflow-y: scroll;

    background-color: var(--color-fg-verydark);

    background-image: url("/assets/images/portfolio/otherwork/grid.svg");
	background-repeat: repeat;
	background-size: 1rem;
}
.programming-item-group-section {
    display:flex;

    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
}

.programming-item-group-header {
    color: #FFF;
    font-family: var(--font-space-grotesk);
    font-size: 3rem;
    
    text-shadow: 5px 5px var(--color-fg);
	text-align: center;

}
#programming-item-group-header-projects {        
    margin-top: -2rem;
    margin-bottom: 0.5rem;
}

.programming-item {
    background-color: var(--color-fg-dark);

    --programming-item-width: clamp(20rem,40vw,40rem);

    width:var(--programming-item-width);
    height: fit-content;
    text-align: center;


    border: 0.5rem solid var(--color-fg);

    border-radius: 5px;

    box-shadow: 10px 10px 1px black;

}

.programming-item img,video {
   max-width: var(--programming-item-width);
}


.programming-item-caption {
    color: #FFF;
    font-family: var(--font-space-grotesk);

    box-sizing: border-box;
        

    padding:0 0.75rem 0 0.75rem;
}

.programming-item-caption-header {
    font-size: 2rem;

    margin-bottom:0;
    margin-top:0.25rem;
    
    background-color: var(--color-fg-verydark);
    border-radius: 25px;
}

.programming-item-caption-info {
    margin-top: 1rem;
    text-align: left;

    color:white;

    font-size: 1.25rem;
}

.programming-item-caption-footer {
    width:100%;
    height:3rem;

    display:flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 0.25rem;

    gap:0.5rem;
}

.programming-item-caption-used-tools {
    flex-grow:1;
    
    display:flex;
    flex-direction: row;
    align-items: center;

    border-radius: 1rem;
    
    gap:0.5rem;
}
.programming-item-caption-used-tools img {
    min-width: 2.2rem;
    max-width: 2.2rem;
    max-height: 2.2rem;


    filter:
        drop-shadow(0 0 0 #FFF)
        drop-shadow(0 -1px 0px #FFF)
        drop-shadow(0 1px 0px #FFF)
        drop-shadow(1px 0 0px #FFF)
        drop-shadow(-1px 0 0px #FFF);
}

.programming-item-caption-site-link {
    color: #FFF;


    padding: 0.55rem;
    border-radius: 25px;

    border: 2px solid var(--color-fg-light);

    text-decoration: none;

    background-color: var(--color-fg);

    float:right;

    &:hover {
        background-color: var(--color-fg-light);
    }
    &:active {
        transform: scale(0.9);
    }
}



@media (min-width:3000px) {
    #portfolio-popup-programming .portfolio-popup-contents {
        background-size: 2rem;
    }

    .programming-item {
        --programming-item-width: clamp(20rem,70vw,80rem);
    }
    .programming-item-caption-header {
        font-size: clamp(2rem,2vw,4rem);

        margin-bottom:0;
        margin-top:0.5rem;
        
        background-color: var(--color-fg-verydark);
        border-radius: 25px;
    }
    .programming-item-caption-info {
        font-size: clamp(1.25rem,1.25vw,2.5rem);
        line-height: clamp(2rem,2vw,10rem);
    }
    .programming-item-caption-footer {
        width:100%;
        height:6rem;
        margin-bottom: 0.75rem;
    }

    .programming-item-caption-used-tools img {
        min-width: 4.5rem;
        max-width: 4.5rem;
        max-height: 4.5rem;
    }
    
    .programming-item-caption-site-link {
        font-size: clamp(2rem,2vw,3rem);

        padding: 1rem;
        border-radius: 50px;

        border: 2px solid var(--color-fg-light);

    }

    .programming-item-group-header {
        color: #FFF;
        font-family: var(--font-space-grotesk);
        font-size: clamp(3rem,3vw,6rem);
        
        text-shadow: 5px 5px var(--color-fg);
        text-align: center;

    }

    #programming-item-group-header-projects {        
        margin-top: -2rem;
        margin-bottom: 0.5rem;
    }
}